Repository apache/skywalking-ui, pull requests merged in 2018-06, with the labels that each got.

#176 upload rocketMQ icon
  public/img/node/ROCKETMQ.png
Labels: enhancement

#170 add sofarpc icon
  public/img/node/SOFARPC.png
Labels: enhancement

#183 5.0.0/beta2
  mock/service.js
  mock/trace.js
  src/components/Trace/TraceList/index.js
  src/models/service.js
  src/models/trace.js
  src/routes/Service/Service.js
Labels: Module/Service, Module/Trace, bug

#184 Transform 'operationName' to 'operationNames' in models
  src/models/service.js
Labels: Module/Service, bug
